/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans+Condensed:wght@300&family=Roboto+Slab&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: rgb(220, 220, 220);
}

h1 {
  color: #00b4d8;
}

h2 {
  color: #0077b6;
}

a {
  color: gray;
  text-decoration: none;
}

.img-circle {
  width: 100px;
  border-radius: 50%;
}

.btn-blue {
  background-color: #90e0ef;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
}

.btn-blue:hover {
  background-color: #0077b6;
}

div {
  background-color: white;
  width: 600px;
  margin: 16px auto;
  padding: 24px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 20px black;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  margin: 24px;
  font-size: 32px;
}

.social-icon:hover {
  color: rgb(220, 220, 220);
}
