.btn-white {
  background-color: white;
    padding: 5px 5px;
    margin: -6px 8px;
    border-radius: 4px;
    border: 0px solid gray;
    opacity: 0;
    transition: 0.5s;
    display: inline-block;
    color: black;
}

.btn-white:hover {
  opacity: 1;
}

.box-btn {
  padding: 16px 2px;
}
